.reg{
    display: flex;
    flex-direction: column;
    gap: 20px;
     width: 400px;
    border-radius: 20px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    color: black;
    min-width: 200px;
    margin: 0 auto;
    position: relative;
    top: 200px;
    min-height:300px;
}.reg>p>a{
    color: blue;
}